$main_primary: #f4d160;
$main_secondary: #28527A;
$main_additional: #51C4D3;

$black: #121210;
$gray: #6C757D;
$green: #639389;
$dark_green: #2A6B5E;
$light_green: #F6F8F3;
$light_green_2: #EDF3E7;
$soft_pink: #C45F87;
$white: #FFF;

$light_green_border: #A6C5BE;
$green_border: #639389;
$disabled: #EDF3E7;